TELEGRAM_BOT_TOKEN=your_telegram_bot_token
ADMIN_USER_ID=your_admin_user_id
TELEGRAM_GROUP_ID=your_telegram_group_id
INSTAGRAM_USERNAME=your_instagram_username
INSTAGRAM_PASSWORD=your_instagram_password
VK_ACCESS_TOKEN=
VK_GROUP_ID=your_vk_group_id
GOOGLE_API_KEY=your_google_ai_studio_api_key

